Nuestra empresa se dedica a realizar análisis de datos geográficos y sociales, y un cliente nos ha solicitado una herramienta para identificar datos básicos de cada continente de manera automática.

1- Por ello, es necesario crear una función que reciba dos parámetros:

- Un DataFrame con información de países (como el del fichero Country.xlsx).
- El nombre de un continente (como cadena de texto).

2- La función debe devolver un diccionario con los siguientes datos relacionados con el continente indicado:

- Número de regiones diferentes que hay dentro del continente.
- Número de países dentro del continente.
- Superficie máxima (SurfaceArea) registrada en el continente.
- Superficie mínima registrada.
- Población media (Population) de los países del continente.
- Promedio de la esperanza de vida (LifeExpectancy) de los países del continente.

3- Finalmente, carga el fichero adjunto con la siguiente instrucción:

datos = pd.read_csv("arxiu csv", sep=";", encoding="latin-1")


Ejecuta la función para varios continentes y muestra los resultados obtenidos.

In [ ]:
# activando las bibliotecas
import pandas as pd

In [ ]:
# Cargando el dataframe
df_country = pd.read_csv("Country(in).csv", sep=";", 
                         encoding="latin-1")

df_country

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,"Code2,"
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129.0,"AW,"
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,"AF,"
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,José Eduardo dos Santos,56.0,"AO,"
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the UK,Elisabeth II,62.0,"AI,"
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqipëria,Republic,Rexhep Mejdani,34.0,"AL,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,YEM,Yemen,Asia,Middle East,527968.0,1918.0,18112000,59.8,6041.0,5729.0,Al-Yaman,Republic,Ali Abdallah Salih,1780.0,"YE,"
235,YUG,Yugoslavia,Europe,Southern Europe,102173.0,1918.0,10640000,72.4,17000.0,NaN,Jugoslavija,Federal Republic,Vojislav Kotunica,1792.0,"YU,"
236,ZAF,South Africa,Africa,Southern Africa,1221037.0,1910.0,40377000,51.1,116729.0,129092.0,South Africa,Republic,Thabo Mbeki,716.0,"ZA,"
237,ZMB,Zambia,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,"ZM,"
238,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,"ZW,"

In [29]:
#Creando la función

def resumen_continente(df, continente):
    df_filtrado = df[df['Continent'] == continente] #filtrando por "continente"
    resumen = {
        'Regiones distintas': df_filtrado['Region'].nunique(),
        'Número de países': df_filtrado['Name'].count(),
        'Superficie máxima': df_filtrado['SurfaceArea'].max(),
        'Superficie mínima': df_filtrado['SurfaceArea'].min(),
        'Población media': df_filtrado['Population'].mean(),
        'Esperanza de vida promedio': df_filtrado['LifeExpectancy'].mean()
    }
    return resumen

In [27]:
# Evaluando que hay en la columna "Continent"
df_country['Continent'].unique()

array(['North America', 'Asia', 'Africa', 'Europe', 'South America',
       'Oceania', 'Antarctica'], dtype=object)

In [30]:
# Usando la función
resumen_continente(df_country, "Africa")

{'Regiones distintas': 5,
 'Número de países': np.int64(58),
 'Superficie máxima': 2505813.0,
 'Superficie mínima': 78.0,
 'Población media': np.float64(13525431.034482758),
 'Esperanza de vida promedio': np.float64(52.57192982456141)}