<img src="https://media.licdn.com/dms/image/v2/D4D3DAQGHFRw0kcxJUg/image-scale_191_1128/image-scale_191_1128/0/1666168591190/it_academy_barcelonactiva_cover?e=2147483647&v=beta&t=s8V1Kbvj6KeyArt5yBWDgIulRMH9ctGG4QMiBvvKGpM"/>

# <span style="color: rgb(230, 0, 126);"> PROVA PYTHON</span>

Curs Fonaments de Programació i Dades

Nom alumne: Noelia Solano Romero									

Data: 31/10/2025

### <span style="color: rgb(230, 0, 126);"> Com funciona la prova?</span>
A continuació et plantegem una sèrie de problemes en python. Has d'escriure la solució a tots ells.

### <span style="color: rgb(230, 0, 126);"> Com s’avaluarà la prova?</span>
Cada pregunta té una puntuació, especificada al final de cadascuna, però per superar la prova hauràs de obtenir un 6,5 com a mínim.

Recorda que l’obtenció del títol no depèn només de la superació d’aquesta prova sinó del seguiment i les tasques entregades prèviament.

**IMPORTANT: pots utilitzar exercicis que ja tinguis fets i el contingut del moodle, però no pots utilitzar chatbots de IA (com chatGPT)**

### <span style="color: rgb(230, 0, 126);"> Com s’ha d’entregar?</span>
L’examen haurà de ser entregat per Discord al docent per missatge privat, durant el temps que estàs al cibernàrium fent la prova.

#### <span style="color: rgb(230, 0, 126);"> Exercici 1 (2p)</span>

Crea una funció que rebi una llista de paraules com a paràmetre. 
La funció ha de recórrer la llista i retornar una llista amb la paraula més llarga a la primera posició i la paraula més curta a la segona posició. 
Després, mostra per pantalla les dues paraules.

Fes servir aquesta llista per executar la funció:
arbre, codi, helicòpter, opcions, sal, amanida, cotxe, sofà, llapis, pissarra

*Fes l'exercici sense utilitzar funcions de python com max() o min().*

In [1]:
#escriu el teu codi python
def contador(llistat):
    llista_resultant=[]
    maxim=llistat[0] #por el momento nuestro maximo es la primera palabra, haré que el bucle la vaya actualizando y lo mismo con el minimo
    minim=llistat[0]

    for paraula in llistat:
        if len(paraula)>len(maxim):
            maxim=paraula #actualizamos el maximo cada vez que encuentra uno superior
        if len(paraula)<len(minim):
            minim=paraula 

    llista_resultant.append(maxim)
    llista_resultant.append(minim)

    return llista_resultant

llistat=['arbre', 'codi', 'helicòpter', 'opcions', 'sal', 'amanida', 'cotxe', 'sofà', 'llapis', 'pissarra']
seleccion=contador(llistat)
print(f'La paraula més llarga i la més curta han estat: {seleccion}')

La paraula més llarga i la més curta han estat: ['helicòpter', 'sal']

#### <span style="color: rgb(230, 0, 126);"> Exercici 2 (2p)</span>

Crea una funció que demani 5 noms d'alumnes i les seves respectives notes de finals de curs.

A mesura que vagis demanant les dades, has d’afegir:
- Al diccionari d’aprovats, les persones que tenen una nota igual o superior a 5.
- Al diccionari de suspesos, la resta d’alumnes.

La funció ha de retornar el diccionari d'aprovats.

Després, mostra per pantalla el diccionari d’aprovats.

Fes servir aquestes dades per executar la funció:
Laura - 8 || Antoni - 10  || Laia - 4  ||  Albert - 2 || Sara - 9

In [ ]:
#escriu el teu codi python
def evaluador():
    aprovats = {}
    suspesos = {}
    for alumne in range(5):
        nom = input(f'Introdueix el nom del alumne número {alumne+1}: ') #interpreto que es la funcion la que debe ir pidiendo ronda a ronda el alumno y su nota
        nota = int(input(f'Introdueix la nota del alumne {nom}: '))
        if nota >= 5:
            aprovats[nom] = nota
        else:
            suspesos[nom] = nota
    return aprovats

evaluacio=evaluador()
print(f'Aquests són els alumnes que han aprovat: {evaluacio}')

Aquests són els alumnes que han aprovat: {'Laura': 8, 'Antoni': 10, 'Sara': 9}

#### <span style="color: rgb(230, 0, 126);"> Exercici 3 (2,5p)</span>

Treballaràs amb un dataset de llibres més venuts a Amazon durant diversos anys. El dataset inclou informació sobre el títol del llibre, l'autor, la puntuació mitjana dels usuaris, el nombre de ressenyes, el preu, l’any de publicació i el gènere.

Carrega el csv "bestsellers with categories.csv" i realitza les següents tasques:

a. Genera dos nous datasets, un per a cada grup: (0,75p)
- Grup 1: Selecciona els llibres de no-ficció amb una puntuació d’usuari superior a 4.8 i un nombre de ressenyes superior a 15.000.
- Grup 2: Selecciona els llibres amb preu inferior a 10 €, publicats després de 2015 i escrits per autors que tinguin un nom que comenci per "A".

 Quants registres té cada grup?

In [3]:
import pandas as pd
df=pd.read_csv('/Users/noeliasolano/python/bestsellers with categories.csv')
grup1=df[(df['Genre']=='Non Fiction')
         & (df['User Rating']>4.8)
         & (df['Reviews']>15000)]

display(grup1)

,Name,Author,User Rating,Reviews,Price,Year,Genre
187,Jesus Calling: Enjoying Peace in His Presence ...,Sarah Young,4.9,19576,8,2011,Non Fiction
188,Jesus Calling: Enjoying Peace in His Presence ...,Sarah Young,4.9,19576,8,2012,Non Fiction
189,Jesus Calling: Enjoying Peace in His Presence ...,Sarah Young,4.9,19576,8,2013,Non Fiction
190,Jesus Calling: Enjoying Peace in His Presence ...,Sarah Young,4.9,19576,8,2014,Non Fiction
191,Jesus Calling: Enjoying Peace in His Presence ...,Sarah Young,4.9,19576,8,2015,Non Fiction
192,Jesus Calling: Enjoying Peace in His Presence ...,Sarah Young,4.9,19576,8,2016,Non Fiction

In [4]:
grup1.shape #Respuesta: Hay 6 registros en el grupo 1

(6, 7)

In [5]:
grup2=df[(df['Price']<10)
         & (df['Year']>2015)
         & (df['Author'].str.startswith('A'))]

display(grup2)

,Name,Author,User Rating,Reviews,Price,Year,Genre
15,Adult Coloring Book Designs: Stress Relief Col...,Adult Coloring Book Designs,4.5,2313,4,2016,Non Fiction
178,If Animals Kissed Good Night,Ann Whitford Paul,4.8,16643,4,2017,Fiction
179,If Animals Kissed Good Night,Ann Whitford Paul,4.8,16643,4,2019,Fiction
203,Kitchen Confidential Updated Edition: Adventur...,Anthony Bourdain,4.8,2507,8,2018,Non Fiction
232,Milk and Vine: Inspirational Quotes From Class...,Adam Gasiewski,4.4,3113,6,2017,Non Fiction
355,The Complete Ketogenic Diet for Beginners: You...,Amy Ramos,4.3,13061,6,2018,Non Fiction
356,The Complete Ketogenic Diet for Beginners: You...,Amy Ramos,4.3,13061,6,2019,Non Fiction

In [6]:
grup2.shape #Respuesta: Hay 7 registros en el grupo 2

(7, 7)

b. Agrupa les dades del dataset inicial per: (0,75p)
    
Any de publicació i gènere, i calcula per cada grup:
- La mitjana del preu dels llibres.
- La mitjana de puntuació d’usuaris.

In [7]:
#escriu el teu codi python
grup_preu=df.groupby(['Year', 'Genre'])[['Price']].mean()
display(grup_preu)

                      Price
Year Genre
2009 Fiction      15.583333
     Non Fiction  15.230769
2010 Fiction       9.700000
     Non Fiction  16.000000
2011 Fiction      11.619048
     Non Fiction  17.620690
2012 Fiction      12.285714
     Non Fiction  17.482759
2013 Fiction      10.708333
     Non Fiction  18.192308
2014 Fiction      10.172414
     Non Fiction  20.809524
2015 Fiction       9.352941
     Non Fiction  10.969697
2016 Fiction      12.631579
     Non Fiction  13.516129
2017 Fiction       8.833333
     Non Fiction  13.730769
2018 Fiction       8.761905
     Non Fiction  11.793103
2019 Fiction       9.350000
     Non Fiction  10.566667

In [8]:
grup_puntuacio=df.groupby(['Year', 'Genre'])[['User Rating']].mean()
display(grup_puntuacio)

                  User Rating
Year Genre
2009 Fiction         4.591667
     Non Fiction     4.576923
2010 Fiction         4.615000
     Non Fiction     4.520000
2011 Fiction         4.619048
     Non Fiction     4.513793
2012 Fiction         4.495238
     Non Fiction     4.558621
2013 Fiction         4.545833
     Non Fiction     4.561538
2014 Fiction         4.631034
     Non Fiction     4.609524
2015 Fiction         4.652941
     Non Fiction     4.645455
2016 Fiction         4.715789
     Non Fiction     4.654839
2017 Fiction         4.737500
     Non Fiction     4.588462
2018 Fiction         4.738095
     Non Fiction     4.617241
2019 Fiction         4.820000
     Non Fiction     4.686667

c. Afegeix una nova columna anomenada "Popularitat": (0,75p)

- Valor "Alta" si el llibre té més de 20.000 ressenyes.
- Valor "Mitjana" si té entre 10.000 i 20.000 ressenyes.
- Valor "Baixa" si en té menys de 10.000. (0,5op)

In [9]:
#escriu el teu codi python
df.loc[df['Reviews']>20000,'Popularitat']='Alta'
df.loc[df['Reviews']<=20000,'Popularitat']='Mitjana'
df.loc[df['Reviews']<10000,'Popularitat']='Baixa'
display(df)

,Name,Author,User Rating,Reviews,Price,Year,Genre,Popularitat
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,Mitjana
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,Baixa
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,Mitjana
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,Alta
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,Baixa
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,Baixa
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,Mitjana
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,Mitjana
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,Mitjana
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,Mitjana

d. Elimina les columnes "Author" i "Year" i guarda el resultat en un nou DataFrame anomenat llibres_filtrats. (0,75p)

In [10]:
#escriu el teu codi python
llibres_filtrats=df.drop(['Author', 'Year'], axis=1)
llibres_filtrats

,Name,User Rating,Reviews,Price,Genre,Popularitat
0,10-Day Green Smoothie Cleanse,4.7,17350,8,Non Fiction,Mitjana
1,11/22/63: A Novel,4.6,2052,22,Fiction,Baixa
2,12 Rules for Life: An Antidote to Chaos,4.7,18979,15,Non Fiction,Mitjana
3,1984 (Signet Classics),4.7,21424,6,Fiction,Alta
4,"5,000 Awesome Facts (About Everything!) (Natio...",4.8,7665,12,Non Fiction,Baixa
...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),4.9,9413,8,Fiction,Baixa
546,You Are a Badass: How to Stop Doubting Your Gr...,4.7,14331,8,Non Fiction,Mitjana
547,You Are a Badass: How to Stop Doubting Your Gr...,4.7,14331,8,Non Fiction,Mitjana
548,You Are a Badass: How to Stop Doubting Your Gr...,4.7,14331,8,Non Fiction,Mitjana
549,You Are a Badass: How to Stop Doubting Your Gr...,4.7,14331,8,Non Fiction,Mitjana

#### <span style="color: rgb(230, 0, 126);"> Exercici 4 (3p)</span>

En una empresa, és essencial avaluar el rendiment dels venedors per optimitzar les vendes i millorar els resultats. Un indicador clau és comparar les vendes de cada venedor amb la mitjana de l’equip comercial.

Escriu una funció que donat el dataset vendes.csv:

- Agrupi les vendes per venedor i calculi el total de cada un.
- Calculi la mitjana de vendes de tots els venedors.
- Identifiqui els venedors amb un rendiment inferior a la mitjana.
- Retorni una llista amb els noms dels venedors que han tingut vendes inferiors a la mitjana.

Crida la funció amb el dataframe vendes.csv i mostra els venedors que han tingut un rendiment en vendes per sota de la mitjana.

In [11]:
#escriu el teu codi python
def rendiment(df):
    vendes=df.groupby('Venedor')[['Import']].sum()
    mitjana=vendes['Import'].mean() #Utilizo vendes['Import'] porque interpreto que debemos hacer la media de vendes de los 5 vendedores, no la de vendedor individual ni la media de importe de todos los productos.
    no_eficients=[]
    for venedor, fila in vendes.iterrows(): #con iterrows() iteramos fila a fila y no en columnas
        if fila['Import']<mitjana:
            no_eficients.append(venedor)
        else:
            pass
    return no_eficients

import pandas as pd
df=pd.read_csv('/Users/noeliasolano/python/vendes.csv', sep=';')

rendiment(df)

['Alberto', 'Carlos', 'Laura']